{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% load socialaccount %}
{% block title %}
  Xにログイン / Xクローン
{% endblock title %}
{% block scss %}
  <link rel="stylesheet" href="{% sass_src 'scss/login.scss' %}">
{% endblock scss %}
<!-- content -->
{% block content %}
  {% if messages %}
    <ul class="messages list-unstyled">
      {% for message in messages %}
        <li {% if message.tags %}class="list-unstyled alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="container">
    <img src="{% static "images/x-logo.svg" %}"
         alt="x-logo"
         width="30"
         height="30">
    <div class="login-form">
      <h1>Xにログイン</h1>
      <a class="github" href="{% provider_login_url "github" %}"><i class="bi bi-github"></i>GitHubのアカウントでログイン</a>
      <p>または</p>
      <form action="{% url "account_login" %}" method="post">
        {% csrf_token %}
        <div class="invalid-feedback d-block">{{ form.non_field_errors }}</div>
        {{ form.login }}
        {{ form.password }}
        <button class="next">次へ</button>
        <a href="{% url "account_reset_password" %}" class="forgot-password">パスワードを忘れた場合はこちら</a>
        <small>アカウントをお持ちでない場合は<a href="{% url "account_signup" %}">登録</a></small>
      </form>
    </div>
  </div>
{% endblock content %}
