{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}
  パスワード再設定 / Xクローン
{% endblock title %}
{% block scss %}
  <link rel="stylesheet" href="{% sass_src 'scss/password_reset.scss' %}">
{% endblock scss %}
<!-- content -->
{% block content %}
  <div class="container">
    <img src="{% static 'images/x-logo.svg' %}"
         alt="x-logo"
         width="30"
         height="30">
    <h1>パスワード再設定</h1>
    <p>
      確認のためのメールを送信しました。
      <br>
      確認メールが届かないときは迷惑メールフォルダをご確認ください。しばらくしてもメールが届かない場合はご連絡ください。
    </p>
  </div>
{% endblock content %}
