{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}
  ツイート詳細ページ / Xクローン
{% endblock title %}
{% block scss %}
  <link rel="stylesheet" href="{% sass_src 'scss/detail.scss' %}">
{% endblock scss %}
<!-- content -->
{% block content %}
  {% if messages %}
    <ul class="messages list-unstyled">
      {% for message in messages %}
        <li {% if message.tags %}class="list-unstyled alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="container">
    {% include "includes/header.html" %}
    {% include "includes/nav.html" %}
    <main>
      {% if user.is_authenticated %}
        <div class="detail-header">
          <ul class="detail-top">
            <li>
              <a href="{% url "posts:index" %}"><i class="bi bi-arrow-left"></i></a>
            </li>
            <li>
              <ul class="detail-post">
                <li>
                  <span>ポスト</span>
                </li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="detail-content">
          <div class="tweet-header">
            <a href="{% if user.id %}{% url "users:profile" object.user.account_id %}{% endif %}">
              <img src="{% if object.user.icon_image %} {{ object.user.icon_image.url }} {% else %} {% static "images/default-profile-icon.jpg" %} {% endif %}"
                   alt="ユーザーアイコン"
                   width="40"
                   height="40"
                   class="user-icon">
            </a>
            <div class="tweet-username">
              <span>{{ object.user.username }}</span>
              <small>@{{ object.user.account_id }}</small>
            </div>
          </div>
          <div class="tweet-content">
            <p>{{ object.content }}</p>
            {% if object.tweetimage_set.first %}
              <div class="tweet-image">
                <img src="{{ object.tweetimage_set.first.image.url }}"
                     alt="ツイート画像"
                     width="450"
                     height="253">
              </div>
            {% endif %}
            <small>{{ object.created_at|date:"Ag:i" }}・{{ object.created_at|date:"Y年n月d日" }}</small>
            <hr>
            <ul>
              <li>
                <small><span>{{ object.retweet_set.count }}</span>件のリポスト</small>
              </li>
              <li>
                <small><span>{{ object.like_set.count }}</span>件のいいね</small>
              </li>
            </ul>
            <hr>
            <div class="tweet-property">
              <i class="bi bi-chat"></i>
              <i class="bi bi-repeat"></i>
              <i class="bi bi-heart"></i>
            </div>
            <hr>
          </div>
          <!-- comment form -->
          <form action="{% url "posts:comment" object.id %}"
                method="post"
                class="comment-form">
            {% csrf_token %}
            <a href="{% if user.id %}{% url "users:profile" user.account_id %}{% endif %}">
              <img src="{% if user.icon_image %} {{ user.icon_image.url }} {% else %} {% static "images/default-profile-icon.jpg" %}{% endif %}"
                   alt="画像"
                   width="40"
                   height="40">
            </a>
            <div class="form-content">
              <input name="user" type="hidden" value="{{ user.id }}">
              <input name="tweet" type="hidden" value="{{ object.id }}">
              <textarea name="content" placeholder="コメントをポスト" maxlength="255"></textarea>
              <div class="form-content-post">
                <button>コメント</button>
              </div>
            </div>
          </form>
        </div>
        <div class="comment-list">
          {% for comment in comments %}
            <div class="comment">
              <a href="{% if user.id %}{% url "users:profile" comment.user.account_id %}{% endif %}">
                <img src="{% if comment.user.icon_image %} {{ comment.user.icon_image.url }} {% else %} {% static "images/default-profile-icon.jpg" %}  {% endif %}"
                     alt="ユーザーアイコン"
                     width="40"
                     height="40"
                     class="user-icon">
              </a>
              <div class="comment-content">
                <div class="comment-username">
                  <a href="{% url "users:profile" comment.user.account_id %}"><span>{{ comment.user.username }}</span></a>
                  <small>@{{ comment.user.account_id }}・{{ comment.created_at }}</small>
                </div>
                <p>{{ comment.content }}</p>
              </div>
            </div>
            <hr>
          {% empty %}
            <p>まだコメントがありません。</p>
          {% endfor %}
        </div>
      {% else %}
        ログインしてください
      {% endif %}
    </main>
    <aside>
      <h2>お知らせ画面</h2>
    </aside>
  </div>
{% endblock content %}
