{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}
  ホーム / Xクローン
{% endblock title %}
{% block scss %}
  <link rel="stylesheet" href="{% sass_src 'scss/top.scss' %}">
{% endblock scss %}
<!-- content -->
{% block content %}
  {% if messages %}
    <ul class="messages list-unstyled">
      {% for message in messages %}
        <li {% if message.tags %}class="list-unstyled alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="container">
    {% include "includes/header.html" %}
    {% include "includes/nav.html" %}
    <main>
      <!-- 投稿フォーム -->
      <div class="tab">
        <form method="post"
              action="{% url "posts:create" %}"
              class="tweet-form"
              enctype="multipart/form-data">
          {% csrf_token %}
          <a href="{% if user.id %}{% url "users:profile" user.account_id %}{% endif %}">
            <img src="{% if user.icon_image %} {{ user.icon_image.url }} {% else %} {% static "images/default-profile-icon.jpg" %}{% endif %}"
                 alt="画像"
                 width="40"
                 height="40">
          </a>
          <div class="form-content">
            <input name="user" type="hidden" value="{{ user.id }}">
            <textarea name="content" placeholder="いまどうしてる？" maxlength="140"></textarea>
            <small>
              <i class="bi bi-globe-americas"></i>
              全員が返信できます
            </small>
            <div class="form-content-post">
              <ul class="icon">
                <li>
                  <label for="image">
                    <i class="bi bi-image"></i>
                  </label>
                  <input type="file" name="image" id="image">
                </li>
              </ul>
              <button>ポストする</button>
            </div>
          </div>
        </form>
        <!-- recommend tab -->
        <div class="label {% if "tab=follow" not in request.get_full_path %}checked{% endif %}">
          <a href="?tab=recommend">
            <p>おすすめ</p>
          </a>
        </div>
        <div class="tweet-list">
          {% if user.is_authenticated %}
            {% for object in object_list %}
              <div class="tweet">
                <a href="{% if user.id %}{% url "users:profile" object.user.account_id %}{% endif %}">
                  <img src="{% if object.user.icon_image %} {{ object.user.icon_image.url }} {% else %} static/images/default-profile-icon.jpg {% endif %}"
                       alt="ユーザーアイコン"
                       width="40"
                       height="40"
                       class="user-icon">
                </a>
                <div class="tweet-content">
                  <div class="tweet-username">
                    <a href="{% url "users:profile" object.user.account_id %}"><span>{{ object.user.username }}</span></a>
                    <small>@{{ object.user.account_id }}・{{ object.created_at }}</small>
                  </div>
                  <div class="tweet-text">{{ object.content }}</div>
                  {% if object.tweetimage_set.first %}
                    <div class="tweet-image">
                      <img src="{{ object.tweetimage_set.first.image.url }}"
                           alt="ツイート画像"
                           width="450"
                           height="253">
                    </div>
                  {% endif %}
                  <div class="tweet-property">
                    <i class="bi bi-chat"></i>
                    <i class="bi bi-repeat"></i>
                    <i class="bi bi-heart"></i>
                  </div>
                </div>
                <a class="detail" href="{% url "posts:detail" object.id %}"></a>
              </div>
            {% empty %}
              <p>表示可能なツイートがありません。</p>
            {% endfor %}
            <!-- pagination -->
            <div class="paginator" aria-label="page navigation">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a aria-label="Previous"
                       class="page-link"
                       href="?tab=recommend&page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
                {% endif %}
                {% if page_obj.previous_page_number > 0 %}
                  <li class="page-item">
                    <a class="page-link"
                       href="?tab=recommend&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                  </li>
                {% endif %}
                {% if page_obj.paginator.num_pages != 1 %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?tab=recommend&page={{ page_obj.number }}">{{ page_obj.number }}</a>
                  </li>
                {% endif %}
                {% if page_obj.next_page_number <= page_obj.paginator.num_pages %}
                  <li class="page-item">
                    <a class="page-link"
                       href="?tab=recommend&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                  </li>
                {% endif %}
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a aria-label="Next"
                       class="page-link"
                       href="?tab=recommend&page={{ page_obj.next_page_number }}">&raquo;</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% else %}
            ログインしてください
          {% endif %}
        </div>
        <!-- following tab -->
        <div class="label {% if "tab=follow" in request.get_full_path %}checked{% endif %}">
          <a href="?tab=follow">
            <p>フォロー中</p>
          </a>
        </div>
        <div class="tweet-list">
          {% if user.is_authenticated %}
            {% for object in object_list %}
              <div class="tweet">
                <a href="{% if user.id %}{% url "users:profile" object.user.account_id %}{% endif %}">
                  <img src="{% if object.user.icon_image %} {{ object.user.icon_image.url }} {% else %} static/images/default-profile-icon.jpg {% endif %}"
                       alt="ユーザーアイコン"
                       width="40"
                       height="40"
                       class="user-icon">
                </a>
                <div class="tweet-content">
                  <div class="tweet-username">
                    <a href="{% url "users:profile" object.user.account_id %}"><span>{{ object.user.username }}</span></a>
                    <small>@{{ object.user.account_id }}・{{ object.created_at }}</small>
                  </div>
                  <div class="tweet-text">{{ object.content }}</div>
                  {% if object.tweetimage_set.first %}
                    <div class="tweet-image">
                      <img src="{{ object.tweetimage_set.first.image.url }}"
                           alt="ツイート画像"
                           width="450"
                           height="253">
                    </div>
                  {% endif %}
                  <div class="tweet-property">
                    <i class="bi bi-chat"></i>
                    <i class="bi bi-repeat"></i>
                    <i class="bi bi-heart"></i>
                  </div>
                </div>
                <a class="detail" href="{% url "posts:detail" object.id %}"></a>
              </div>
            {% empty %}
              <p>表示可能なツイートがありません。</p>
            {% endfor %}
            <!-- pagination -->
            <div class="paginator" aria-label="page navigation">
              <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                  <li class="page-item">
                    <a aria-label="Previous"
                       class="page-link"
                       href="?tab=recommend&page={{ page_obj.previous_page_number }}">&laquo;</a>
                  </li>
                {% endif %}
                {% if page_obj.previous_page_number > 0 %}
                  <li class="page-item">
                    <a class="page-link"
                       href="?tab=recommend&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
                  </li>
                {% endif %}
                {% if page_obj.paginator.num_pages != 1 %}
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="?tab=recommend&page={{ page_obj.number }}">{{ page_obj.number }}</a>
                  </li>
                {% endif %}
                {% if page_obj.next_page_number <= page_obj.paginator.num_pages %}
                  <li class="page-item">
                    <a class="page-link"
                       href="?tab=recommend&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
                  </li>
                {% endif %}
                {% if page_obj.has_next %}
                  <li class="page-item">
                    <a aria-label="Next"
                       class="page-link"
                       href="?tab=recommend&page={{ page_obj.next_page_number }}">&raquo;</a>
                  </li>
                {% endif %}
              </ul>
            </div>
          {% else %}
            ログインしてください
          {% endif %}
        </div>
      </div>
    </main>
    <aside>
      <h2>お知らせ画面</h2>
    </aside>
  </div>
{% endblock content %}
