{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}
  ホーム / Xクローン
{% endblock title %}
{% block scss %}
  <link rel="stylesheet" href="{% sass_src 'scss/top.scss' %}">
{% endblock scss %}
<!-- content -->
{% block content %}
  {% if messages %}
    <ul class="messages list-unstyled">
      {% for message in messages %}
        <li {% if message.tags %}class="list-unstyled alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="container">
    {% include "includes/header.html" %}
    {% include "includes/nav.html" %}
    <main>
      {% if user.is_authenticated %}
        <!-- 投稿フォーム -->
        <div class="tab">
          <form method="post"
                action="{% url "posts:tweet_create" %}"
                class="tweet-form"
                enctype="multipart/form-data">
            {% csrf_token %}
            <a href="{% if user.id %}{% url "users:profile" user.account_id %}{% endif %}">
              <img src="{% if user.icon_image %} {{ user.icon_image.url }} {% else %} {% static "images/default-profile-icon.jpg" %}{% endif %}"
                   alt="画像"
                   width="40"
                   height="40">
            </a>
            <div class="form-content">
              <textarea name="content" placeholder="いまどうしてる？" maxlength="140"></textarea>
              <small>
                <i class="bi bi-globe-americas"></i>
                全員が返信できます
              </small>
              <div class="form-content-post">
                <ul class="icon">
                  <li>
                    <label for="image">
                      <i class="bi bi-image"></i>
                    </label>
                    <input type="file" name="image" id="image">
                  </li>
                </ul>
                <button>ポストする</button>
              </div>
            </div>
          </form>
          <!-- recommend tab -->
          <div class="label {% if "tab=follow" not in request.get_full_path %}checked{% endif %}">
            <a href="?tab=recommend">
              <p>おすすめ</p>
            </a>
          </div>
          <div class="tweet-list">
            <!-- tweet_list -->
            {% include "includes/tweet_list.html" %}
            <!-- pagination -->
            {% include "includes/pagination.html" with param="recommend" %}
          </div>
          <!-- following tab -->
          <div class="label {% if "tab=follow" in request.get_full_path %}checked{% endif %}">
            <a href="?tab=follow">
              <p>フォロー中</p>
            </a>
          </div>
          <div class="tweet-list">
            <!-- tweet-list -->
            {% include "includes/tweet_list.html" %}
            <!-- pagination -->
            {% include "includes/pagination.html" with param="follow" %}
          </div>
        </div>
      {% else %}
        ログインしてください
      {% endif %}
    </main>
    {% include "includes/aside.html" %}
  </div>
{% endblock content %}
