{% load static %}
<nav>
  <ul>
    <li>
      <a href="{% url "index" %}">
        <i class="bi bi-house-door"></i><span>ホーム</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-search"></i><span>話題を検索</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-bell"></i><span>通知</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-envelope"></i><span>メッセージ</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-cone"></i><span>Grok</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-card-list"></i><span>リスト</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-bookmark"></i><span>ブックマーク</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-people"></i><span>コミュニティ</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-twitter-x"></i><span>プレミアム</span>
      </a>
    </li>
    <li>
      <a href="{% if user.id %}{% url "users:profile" user.account_id %}{% endif %}">
        <i class="bi bi-person"></i><span>プロフィール</span>
      </a>
    </li>
    <li>
      <a href="">
        <i class="bi bi-chat-dots"></i><span>もっと見る</span>
      </a>
    </li>
  </ul>
  <button>
    <i class="bi bi-send-plus"></i><span>ポストする</span>
  </button>
  {% if user.is_authenticated %}
    <div class="user-info">
      <img src="{% if user.icon_image %} {{ user.icon_image.url }} {% else %} {% static "images/default-profile-icon.jpg" %} {% endif %}"
           alt="画像"
           width="40"
           height="40">
      <div class="user-name">
        <p>{{ user.username }}</p>
        <small>@{{ user.account_id }}</small>
      </div>
    </div>
  {% endif %}
</nav>
