<div class="paginator" aria-label="page navigation">
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        {% if param %}
          <a aria-label="Previous"
             class="page-link"
             href="?tab={{ param }}&page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% else %}
          <a aria-label="Previous"
             class="page-link"
             href="?page={{ page_obj.previous_page_number }}">&laquo;</a>
        {% endif %}
      </li>
    {% endif %}
    {% if page_obj.previous_page_number > 0 %}
      <li class="page-item">
        {% if param is not None %}
          <a class="page-link"
             href="?tab={{ param }}&page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% else %}
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
        {% endif %}
      </li>
    {% endif %}
    {% if page_obj.paginator.num_pages != 1 %}
      <li class="page-item active" aria-current="page">
        {% if param %}
          <a class="page-link" href="?tab={{ param }}&page={{ page_obj.number }}">{{ page_obj.number }}</a>
        {% else %}
          <a class="page-link" href="?page={{ page_obj.number }}">{{ page_obj.number }}</a>
        {% endif %}
      </li>
    {% endif %}
    {% if page_obj.next_page_number <= page_obj.paginator.num_pages %}
      <li class="page-item">
        {% if param %}
          <a class="page-link"
             href="?tab={{ param }}&page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% else %}
          <a class="page-link" href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
        {% endif %}
      </li>
    {% endif %}
    {% if page_obj.has_next %}
      <li class="page-item">
        {% if param %}
          <a aria-label="Next"
             class="page-link"
             href="?tab={{ param }}&page={{ page_obj.next_page_number }}">&raquo;</a>
        {% else %}
          <a aria-label="Next"
             class="page-link"
             href="?page={{ page_obj.next_page_number }}">&raquo;</a>
        {% endif %}
      </li>
    {% endif %}
  </ul>
</div>
