{% extends "base.html" %}
{% load static %}
{% load sass_tags %}
{% block title %}
  ホーム / Xクローン
{% endblock title %}
{% block scss %}
  <link rel="stylesheet" href="{% sass_src 'scss/top.scss' %}">
{% endblock scss %}
<!-- content -->
{% block content %}
  {% if messages %}
    <ul class="messages list-unstyled">
      {% for message in messages %}
        <li {% if message.tags %}class="list-unstyled alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
  <div class="container">
    <header>
      <div class="header-logo">
        <img src="{% static "images/x-logo.svg" %}"
             alt="x-logo"
             width="25"
             height="25"
             class="logo">
        <p>Xクローン</p>
      </div>
      <ul>
        {% if user.is_authenticated %}
          <li class="logout">
            <a href="{% url "account_logout" %}">ログアウト</a>
          </li>
        {% else %}
          <li class="login">
            <a href="{% url "account_login" %}">ログイン</a>
          </li>
          <li class="signup">
            <a href="{% url "account_signup" %}">新規登録</a>
          </li>
        {% endif %}
      </ul>
    </header>
    <nav>
      <ul>
        <li>
          <a href="">
            <i class="bi bi-house-door"></i>ホーム
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-search"></i>話題を検索
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-bell"></i>通知
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-envelope"></i>メッセージ
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-cone"></i>Grok
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-card-list"></i>リスト
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-bookmark"></i>ブックマーク
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-people"></i>コミュニティ
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-twitter-x"></i>プレミアム
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-person"></i>プロフィール
          </a>
        </li>
        <li>
          <a href="">
            <i class="bi bi-chat-dots"></i>もっと見る
          </a>
        </li>
      </ul>
      <button>ポストする</button>
      <div class="user-name">ユーザー名: {{ user.username }}</div>
    </nav>
    <main>
      <div class="tab">
        <form method="" action="" class="tweet-form">
          <div class="form-content-top">
            <img src="{% static "images/milk-crown.jpg" %}"
                 alt="画像"
                 width="40"
                 height="40">
            <textarea name="" id="" placeholder="いまどうしてる？" maxlength="140"></textarea>
          </div>
          <div class="form-content-middle">
            <small>
              <i class="bi bi-globe-americas"></i>
              全員が返信できます
            </small>
          </div>
          <div class="form-content-bottom">
            <ul class="icon">
              <li>
                <i class="bi bi-image"></i>
              </li>
            </ul>
            <button>ポストする</button>
          </div>
        </form>
        <label>
          <input type="radio" name="tab" checked>
          <p>おすすめ</p>
        </label>
        <div class="tweet-list">
          <h3>おすすめツイート一覧</h3>
        </div>
        <label>
          <input type="radio" name="tab">
          <p>フォロー中</p>
        </label>
        <div class="tweet-list">
          <h3>フォロー中のツイート一覧</h3>
        </div>
      </div>
    </main>
    <aside>
      <h2>お知らせ画面</h2>
    </aside>
  </div>
{% endblock content %}
