@import "./media_query";

nav {
  color: white;
  grid-area: left;
  height: 95vh;
  padding: 10px;
  position: relative;

  ul {
    margin: 0px;
    padding: 10px;
    .bi {
      font-size: 1.5rem;
      margin-right: 20px;
    }
    li {
      font-size: 1.3rem;
      list-style: none;
      margin-bottom: 20px;
      a {
        color: white;
        padding: 10px;
        text-decoration: none;
        transition: all 0.2s;
      }
      a:hover {
        color: white;
        background-color: rgb(40, 39, 39);
        border-radius: 30px;
        opacity: 0.8;
      }
    }
  }

  button {
    border-radius: 30px;
    font-weight: bold;
    padding: 12px;
    transition: all 0.5s;
    width: 80%;

    i {
      display: none;
    }
  }

  button:hover {
    opacity: 0.8;
  }

  .user-info {
    display: flex;
    gap: 10px;
    bottom: 0;
    padding: 20px;
    position: absolute;

    img {
      border-radius: 100%;
    }

    .user-name {
      p {
        font-weight: bold;
        margin: 0px;
      }
      small {
        color: gray;
      }
    }
  }

  @include responsive(xl) {
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: left;
    padding: 0px;

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;

      .bi {
        font-size: 1.5rem;
      }

      li {
        a {
          display: inline-block;
          height: 100%;
          padding: 0px;
          padding-left: 10px;
          width: 100%;
          span {
            display: none;
          }
        }
      }
    }

    button {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      i {
        display: block;
        font-size: 1.5rem;
      }
      span {
        display: none;
      }
    }
    .user-info {
      padding: 30px 10px;
      img {
        border-radius: 50%;
      }
      .user-name {
        display: none;
      }
    }
  }
}
