.tweet-list {
  display: none;
  width: 100%;

  .tweet {
    border-bottom: 1px solid gray;
    display: flex;
    gap: 10px;
    padding-top: 10px;
    padding-inline: 15px;
    position: relative;
    transition: all 0.4s;

    &:hover {
      background-color: #111;
    }

    .detail {
      height: 100%;
      left: 0;
      position: absolute;
      top: 0;
      width: 100%;
      z-index: 1;
    }

    a {
      height: 40px;
      z-index: 2;

      .user-icon {
        border-radius: 50%;
      }
    }

    .tweet-content {
      overflow-wrap: break-word;
      width: 100%;
      word-break: break-all;

      .tweet-username {
        a {
          color: white;
          height: 100%;
          left: 0;
          position: relative;
          text-decoration: none;
          top: 0;
          width: 100%;
          z-index: 2;

          &:hover {
            text-decoration: underline;
          }
        }

        span {
          font-weight: bold;
        }

        small {
          color: gray;
          font-size: 0.9rem;
        }
      }

      .tweet-content {
        overflow-wrap: break-word;
        word-break: break-all;
      }

      .tweet-image {
        margin-top: 8px;
        img {
          border-radius: 15px;
          object-fit: cover;
        }
      }

      .tweet-property {
        display: flex;
        font-size: 0.95rem;
        gap: 100px;
        padding-block: 8px;
        width: 100%;

        button {
          background-color: transparent;
          border: 0;
          border-radius: 50%;
          color: white;
          height: 33px;
          position: relative;
          transition: all 0.2s;
          width: 33px;
          z-index: 2;
        }

        span {
          display: inline-block;
          font-size: 0.95rem;
        }

        .like:hover {
          background-color: rgba(#dc143c, 0.2);
        }

        .bi-heart-fill {
          color: crimson;
        }

        .retweet {
          font-size: 1.1rem;

          .active {
            color: limegreen;
          }

          &:hover {
            background-color: rgba(limegreen, 0.2);
          }
        }
      }
    }
  }
}
