body {
  background-color: black;
  height: 100vh;
}

.container {
  padding: 7rem;
  width: 600px;

  img {
    margin-bottom: 30px;
    width: 100%;
  }

  .login-form {
    h1 {
      color: white;
    }

    .github {
      background-color: white;
      border-radius: 25px;
      color: black;
      display: inline-block;
      font-weight: bold;
      margin-block: 20px;
      text-align: center;
      text-decoration: none;
      transition: all 0.5s;
      padding: 8px;
      width: 100%;
    }

    .github:hover {
      opacity: 0.8;
    }

    .bi-github {
      margin-right: 5px;
    }

    p {
      color: white;
      margin: 0px;
      text-align: center;
    }

    form {
      input {
        border: 1px solid gray;
        border-radius: 5px;
        background-color: black;
        color: white;
        margin-top: 20px;
        padding: 10px;
        width: 100%;
      }

      input:focus {
        border: 1px solid #1d9bf1;
      }

      button {
        border: 1px solid gray;
        border-radius: 25px;
        font-weight: bold;
        margin-block: 30px;
        transition: all 0.5s;
        padding: 8px;
        width: 100%;
      }

      button:hover {
        opacity: 0.8;
      }

      .forgot-password {
        border: 1px solid gray;
        border-radius: 25px;
        color: white;
        display: inline-block;
        font-weight: bold;
        text-align: center;
        text-decoration: none;
        transition: all 0.5s;
        padding: 8px;
        width: 100%;
      }

      .forgot-password:hover {
        opacity: 0.8;
      }

      small {
        color: white;
        display: inline-block;
        margin-top: 50px;
        a {
          color: dodgerblue;
          text-decoration: none;
        }
      }
    }
  }
}
