body {
  background-color: black;
  height: 100vh;
}

.container {
  color: white;
  padding: 7rem;
  width: 1000px;

  h1 {
    margin-bottom: 3rem;
  }

  form {
    button {
      border: 1px solid gray;
      border-radius: 25px;
      font-weight: bold;
      margin-block: 30px;
      transition: all 0.5s;
      padding: 8px;
      width: 400px;
    }

    button:hover {
      opacity: 0.8;
    }
  }
}
