@import "./aside";
@import "./header";
@import "./nav";

body {
  background-color: black;
  height: 100vh;
  width: 100%;
}

.container {
  display: grid;
  grid-template:
    "header header header" 50px
    "left center right"
    / 300px 600px 1fr;
  height: 100%;
}

main {
  border: 1px solid gray;
  border-top: 0px;
  color: white;
  grid-area: center;

  .tweet-form {
    border-bottom: 1px solid gray;
    display: flex;
    gap: 10px;
    padding: 10px 15px;
    width: 100%;

    a {
      height: 40px;
      img {
        border-radius: 50%;
      }
    }

    .form-content {
      width: 100%;

      textarea {
        background-color: black;
        border: 0px;
        color: white;
        field-sizing: content;
        font-size: 1.2rem;
        padding-block: 10px;
        resize: none;
        width: 100%;

        &:focus {
          outline: none;
        }
      }

      small {
        color: #1d9bf0;
        font-weight: bold;
      }

      .form-content-post {
        align-items: center;
        border-top: 1px solid gray;
        display: flex;
        justify-content: space-between;
        margin-top: 10px;
        padding: 10px;
        padding-bottom: 0px;

        ul {
          display: flex;
          gap: 20px;
          list-style: none;
          margin: 0px;
          padding: 0;

          li {
            color: #1d9bf0;
            font-size: 1.1rem;

            label {
              cursor: pointer;
            }

            input::file-selector-button {
              display: none;
            }
          }
        }

        button {
          border: 0px;
          border-radius: 25px;
          font-size: 0.95rem;
          font-weight: bold;
          transition: all 0.3s;
          padding: 8px 5px;
          width: 110px;

          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }

  .tab {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }

  .label {
    border-bottom: 1px solid gray;
    height: 50px;
    order: -1;
    text-align: center;
    transition: all 0.4s;
    width: 50%;

    &:hover {
      background-color: rgb(29, 28, 28);
    }

    &.checked {
      a {
        color: white;
        font-weight: bold;
        p {
          border-bottom: 5px solid #1d9bf0;
        }
      }
    }

    a {
      color: gray;
      display: block;
      height: 100%;
      margin: 0px;
      text-decoration: none;
      width: 100%;

      p {
        display: inline-block;
        margin: 0px;
        padding-block: 10px;
      }
    }

    &.checked + .tweet-list {
      display: block;
    }
  }

  .tweet-list {
    display: none;
    width: 100%;

    .tweet {
      border-bottom: 1px solid gray;
      display: flex;
      gap: 10px;
      padding-top: 10px;
      padding-inline: 15px;

      a {
        height: 40px;
        .user-icon {
          border-radius: 100%;
        }
      }

      .tweet-username {
        span {
          font-weight: bold;
        }

        small {
          color: gray;
          font-size: 0.9rem;
        }
      }

      .tweet-image {
        margin-top: 8px;
        img {
          border-radius: 15px;
          object-fit: cover;
        }
      }

      .tweet-property {
        display: flex;
        font-size: 0.9rem;
        gap: 100px;
        padding-block: 8px;
      }
    }
  }

  .paginator {
    margin-block: 20px;
    .pagination {
      a {
        transition: 0.4s all;
        &:hover {
          border-radius: 0px;
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    display: grid;
    grid-template:
      "header header header" 50px
      "left center right"
      / 75px 600px 1fr;
    height: 100%;
    margin-inline: 50px;
  }

  header {
    .header-logo {
      .logo {
        margin: 0px;
        margin-left: 8px;
      }
    }
  }

  nav {
    color: white;
    display: flex;
    flex-direction: column;
    grid-area: left;
    padding: 0px;

    ul {
      align-items: center;
      display: flex;
      flex-direction: column;

      .bi {
        font-size: 1.5rem;
      }

      li {
        a {
          display: inline-block;
          height: 100%;
          padding: 0px;
          padding-left: 10px;
          width: 100%;
          span {
            display: none;
          }
        }
      }
    }

    button {
      border-radius: 50%;
      height: 60px;
      width: 60px;
      i {
        display: block;
        font-size: 1.5rem;
      }
      span {
        display: none;
      }
    }
    .user-info {
      padding: 30px 10px;
      img {
        border-radius: 50%;
      }
      .user-name {
        display: none;
      }
    }
  }

  main {
    .pagination {
      ul {
        display: flex;
      }
    }
  }
}

@media (max-width: 992px) {
  .container {
    display: grid;
    grid-template:
      "header header" 50px
      "left center"
      / 75px 1fr;
    height: 100%;
    margin-inline: 50px;
  }

  header {
    border-right: 1px solid gray;
  }

  aside {
    display: none;
  }
}
